Repository fastmcp-me/sequentialstory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: mkinit
        name: mkinit
        description: "Generate __init__ files"
        entry: poe mkinit
        language: system
        pass_filenames: false
        types: [python]
      - id: lint
        name: lint
        description: "Run all linters (pyupgrade, flynt, pyright, ruff-check, ruff-format)"
        entry: poe lint
        language: system
        pass_filenames: false
        types: [python]
      - id: test-coverage
        name: test-coverage
        description: "Run tests with coverage reporting"
        entry: poe test-coverage
        language: system
        pass_filenames: false
        types: [python]
      - id: interrogate
        name: interrogate
        description: "Check docstring coverage"
        entry: poe interrogate
        language: system
        pass_filenames: false
        types: [python]
      - id: mkdocs
        name: mkdocs
        description: "Build documentation with MkDocs"
        entry: poe mkdocs
        language: system
        pass_filenames: false
      - id: xenon
        name: xenon
        description: "Monitoring code complexity"
        entry: poe xenon
        language: system
        pass_filenames: false
        types: [python]
      - id: radon
        name: radon
        description: "Check code complexity"
        entry: poe radon
        language: system
        pass_filenames: false
        types: [python]
      - id: mdformat
        name: mdformat
        description: "Format markdown files"
        entry: poe mdformat
        language: system
        pass_filenames: false
        types: [markdown]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
        - tomli
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-builtin-literals
      - id: check-ast
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-docstring-first
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-toml
      - id: file-contents-sorter
        files: dictionary.*\.txt$|\.wordlist$
        args: [--ignore-case]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: python
        types: [shell]
        files: \.sh$


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.0
    hooks:
      - id: gitleaks
        name: gitleaks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "--exclude", "tests,.venv,.git"]

  # Code quality hooks
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: ["src", "tests", "--min-confidence", "80"]

  # Git workflow hooks
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.4.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

updates
  README.md
  pyproject.toml
  uv.lock
Due: mdformat

updates
  README.md
Due: mdformat

updates
  README.md
  main.py
  src/__init__.py
  src/sequential_thinking_processor.py
  src/sequential_thinking_server.py
  src/server.py
  tests/test_sequential_thinking_processor.py
  tests/test_server.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  docs/index.md
  mkdocs.yml
Due: mdformat

updates
  .env.example
  Dockerfile
  smithery.yaml
Due: none

updates
  README.md
  main.py
  sequential_tools.py
  smithery.yaml
  src/__init__.py
  src/sequential_story_processor.py
  src/sequential_thinking_server.py
  src/server.py
  tests/test_server.py
  tests/test_story_processor.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  README.md
  pyproject.toml
  sequential_tools.py
  src/__init__.py
  src/server.py
  src/utils/__init__.py
  src/utils/logging.py
  src/utils/settings.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  README.md
  sequential_tools.py
  src/__init__.py
  src/sequential_story_processor.py
  src/sequential_thinking_processor.py
  src/server.py
  src/utils/settings.py
  tests/test_server.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  README.md
  src/utils/settings.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  README.md
  src/utils/__init__.py
  src/utils/logging.py
  src/utils/settings.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

fix docker
  Dockerfile
Due: none

fix docker
  .vscode/launch.json
Due: none

fix docker
  .cursor/mcp.json
  README.md
Due: mdformat

fix docker
  README.md
Due: mdformat

updates
  pyproject.toml
  src/sequential_story_processor.py
  tests/test_story_processor.py
  tests/test_thinking_processor.py
Due: mkinit, lint, test-coverage, interrogate, xenon, radon

updates
  pyproject.toml
  sequential_tools.py
  uv.lock
Due: mkinit, lint, test-coverage, interrogate, xenon, radon

updates
  README.md
  pyproject.toml
  sequential_story.py
  src/__main__.py
  src/utils/settings.py
  uv.lock
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  README.md
  pyproject.toml
  src/__main__.py
  src/cli.py
  src/server.py
  src/utils/settings.py
  tests/test_server.py
  uv.lock
Due: mkinit, lint, test-coverage, interrogate, xenon, radon, mdformat

updates
  pyproject.toml
  src/sequential_story_processor.py
  src/sequential_thinking_processor.py
  tests/test_story_processor.py
  tests/test_thinking_processor.py
  uv.lock
Due: mkinit, lint, test-coverage, interrogate, xenon, radon

Add FastMCP badges for easy installation
  README.md
Due: mdformat
